.home-header, .small-header{
    background: #111;
    color: #fff;
    @include clearfix;

    a{ color: #fff; }
}

.home-header{
    padding: 40vh;
    height: 100vh;
    margin-top: -2.5em;
    box-sizing: border-box;
    
    &:before{
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: url('../assets/dark_embroidery.png');
        opacity: .25;
    }

    h1{
        margin-bottom: 1em;
    }

    p{
        max-width: 600px;
    }

    .home-headline{
        font-size: 4em;
        text-align: center;
        letter-spacing: 4px;
        position: relative;
        z-index: 9998;

        a{
            transition: color 1s;

            &.is-orange{
                color: orange;
            }

            &:hover{
                color: darkorange;
            }
        }
    }

    img{
        max-width: 200px;
        display: none;
        border: none;
        margin: 0 auto;
        filter: grayscale(1);

    }
}

.small-header{
    background: #111;
    color: #fff;
    padding: 0 2em;
    position: relative;
    z-index: 9999;
    
    .logo{
        position: relative;
        top: .5em;
        float: left;
        @extend .type-marker;
        font-size: 1.4em;
        
    }

    nav{
        float: right;
        width: 75%;
        padding: 0;
        text-align: right;
        @extend .type-headline;
        text-transform: uppercase;
        font-weight: 100;
        
        li{
            display: inline-block;
            
            a{ 
                padding: 1em; 
                display: inline-block;

                &.active{
                    color: orange;
                }

                &:hover{
                    background: #333;
                }
            }
        }
    }
}

@media screen and (min-width: 1000px){
    

}