.work{
    position: relative;

    header{
        margin-bottom: 4em;

        h2{
            margin: .5em 0;
        }
    }

    .case-story{
        float: left;
        width: 50%;
    }

    .example{
        float: right;
        width: 50%;
    }

    .client-link{
        position: absolute;
        top: 2em;
        right: 2em;
    }

}

.jux-img{
    position: relative;
    display: block;

    .top-img img{
        position: absolute;
        bottom: -1em;
        right: -1em;
        width: 18%;
        margin: 0;
        box-shadow: 0 0 15px #ccc;
        border: none;
        border-radius: 10px;
    }
}

.meta{
    margin: 0;
    @extend .type-headline;
    font-weight: 300;
}