
    <div class="advert">
        <h4>Advertisement</h4>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Big Box -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:336px;height:280px"
             data-ad-client="ca-pub-7672538644535943"
             data-ad-slot="3492559793"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <footer>
        <p>Copyright &copy; 2017. Josh Mobley.</p>
    </footer>
</body>
</html>
