<!DOCTYPE html>
<html>
<head>
    <title>Josh Mobley - Frontend Developer</title>
    <style>
        a{
            color: #fff;
        }
    </style>
    <link rel="stylesheet" href="{{ site.url }}/css/styles.css">
    <link rel="stylesheet" href="{{ site.url }}/css/prism.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Oswald:300,400|Permanent+Marker" rel="stylesheet">
    <link rel="icon" href="{{ site.url }}/assets/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ site.url }}/js/prism.js" async></script>
    <script data-main="{{ site.url }}/js/scripts.js" src="{{ site.url }}/js/require.js" async></script>
    
</head>
<body>