<header class="home-header">

    <img class="is-circle" src="assets/me.jpg" />
    <div class="content">
        <h2 class="home-headline">I make <a href="{{ site.url }}/work.html">great</a> things</h2>



<!--<div class="skills">
        <ul>
            <li>HTML</li>
            <li>Photoshop</li>
            <li class="bold">Frontend Development</li>
            <li>Javascript</li>
            <li>Sketch</li>
            <li class="bold">Digital Strategy</li>
            <li>Wordpress</li>
            <li>Angular</li>
            <li>CSS</li>
            <li class="bold">User Experience</li>
            <li>Git</li>
            <li>PHP</li>
            <li>Gulp</li>
            <li>Typescript</li>
            <li>CI/CD</li>
            <li>QUnit</li>
        </ul>
    </div>-->
    
    </div>
    
</header>