<header class="home-header">

    <img class="l-third is-circle" src="assets/me.jpg" />
    <div class="content">
        <h1>Josh Mobley</h1>
        <p>I apply digital strategy to enhance storytelling, bolster community engagement, and create delightful online experiences. He brings an intentional approach to accessibility, user experience, and progressive enhancement while assisting in leading clients through the process of transforming their objectives into high-quality digital experiences and online communities.</p>
    </div>
    
</header>