<header class="small-header">
    <a class="logo" href="{{ site.url }}">Josh Mobley</a>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/writing.html" {% if page.url == '/writing.html' %} class="active" {% endif %}>Blog</a></li>
            <li><a href="/work.html" {% if page.url == '/work.html' %} class="active" {% endif %}>Work</a></li>
            <li><a href="/contact.html" {% if page.url == '/contact.html' %} class="active" {% endif %}>Contact</a></li>
        </ul>
    </nav>
</header>