<header class="small-header">
    <a class="logo" href="{{ site.url }}">Josh Mobley</a>
    <a href="#" class="menu-toggle">Menu</a>
    <nav>
        <ul>
            <li><a href="{{ site.url }}" {% if page.url == '/' %} class="active" {% endif %}>Home</a></li>
            <li><a href="/writing.html" {% if page.url contains '/writing' %} class="active" {% endif %}>Writing</a></li>
            <li><a href="/work.html" {% if page.url contains '/work' %} class="active" {% endif %}>Work</a></li>
            <li><a href="/tools.html" {% if page.url contains '/tools' %} class="active" {% endif %}>Tools</a></li>
            <li><a href="{{ site.url }}#contact">Contact</a></li>
        </ul>
    </nav>
</header>