{% include head.html %}
{% include small-header.html %}
{% include home-header.html %}

<div class="home">

    <section id="about">

        <span></span>
        <div class="l-half">
            <img src="/assets/me.jpg" />
        </div>

        <div class="l-half">

        <p class="h2">I'm a front-end developer and digital strategist.</p>

        <p>I like to <a href="/work.html">build useful and delightful things</a> on the web.</p> 
        
        <p>I also enjoy <a href="#community">bringing people together</a> to learn about the latest tools and methods that help move the web forward.</p>


        </div>
    </section>

    <section id="blogs">

        <h2>Recent Writing 
            <a href="/writing.html">All writing &rarr;</a>
        </h2>

        {% for post in site.posts limit: 2 %}
            <article class="l-half">
                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                <p class="meta">{{ post.date | date_to_long_string }}</p>
                <p>{{ post.excerpt | strip_html }}</p>
            </article>
        {% endfor %}

    </section>  

    <section id="work">

        <h2 class="center-small">Recent Work
            <a href="/work.html">All work &rarr;</a>
        </h2>
        {% assign posts = site.work | sort: 'date' | reverse %}
        {% for post in posts limit: 3 %}
            <article class="l-third">
                <div class="l-header">
                    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    <h4>{{ post.clientname }}</h4>
                </div>
                <a href="{{ post.url }}" class="l-image">
                    <img src="{{ post.thumbnail }}" />
                </a>
            </article>
        {% endfor %}

    </section>

    <section id="community">

        <h2 class="center-small">Community Involvement</h2>

        <div class="l-third">
            <div class="l-header">
                <h3><a href="http://refreshthetriangle.co" target="_blank">Refresh the Triangle</a></h3>
                <h4>Co-Organizer</h4>
            </div>
            <a href="http://refreshthetriangle.co" target="_blank" class="l-image"><img src="community/refresh/thumbnail.jpg" /></a>
        </div>

        <div class="l-third">
            <div class="l-header">
                <h3><a href="http://letsmakeapodcast.org" target="_blank">Let's Make a Podcast</a></h3>
                <h4>Co-Host</h4>
            </div>
            <a href="http://letsmakeapodcast.org" target="_blank" class="l-image"><img src="community/podcast/thumbnail.jpg" /></a>
        </div>

        <div class="l-third">
            <div class="l-header">
                <h3><a href="https://www.theironyard.com/locations/raleigh.html" target="_blank">The Iron Yard Raleigh</a></h3>
                <h4>Advisory Board Member</h4>
            </div>
            <a href="https://www.theironyard.com/locations/raleigh.html" target="_blank" class="l-image"><img src="community/tiy/thumbnail.jpg" /></a>
        </div>

    </section>

    <section id="contact">

        <dl class="social">
            <dt><h2>Connect on Social</h2></dt>
            <dd><a href="https://twitter.com/{{ site.twitter_username }}" class="twitter" target="_blank">Twitter</a></dd>
            <dd><a href="https://github.com/{{ site.github_username }}" class="github" target="_blank">Github</a></dd>
            <dd><a href="https://linkedin.com/in/{{ site.linkedin_username }}" class="linkedin" target="_blank">Linkedin</a></dd>
        </dl>
        
        <form action="https://formspree.io/jmob1986@gmail.com" method="POST" id="contact-form">

            <div class="form-content">
            <h2>or Send Me a Note</h2>
            <fieldset>
                <label for="name">Full Name</label>
                <input type="text" name="name" placeholder="Full Name" />
                <label for="_gotcha">Leave This Field Blank</label>
                <input type="text" name="_gotcha" style="display: none;" />
                <label for="email">Email Address</label>
                <input type="email" name="_replyto" placeholder="Email Address" />
                <label for="subject">Topic of Conversation</label>
                <input type="text" name="_subject" placeholder="Topic of Conversation" />
                <label for="comment">Your Message</label>
                <textarea name="comment">Write your message here...</textarea>
                <input type="hidden" name="_format" value="plain" />
                <input type="submit" value="Send" />
            </fieldset>
            </div>
        </form>
    </section>

</div>

{% include footer.html %}