{% include head.html %}
{% include small-header.html %}

<main class="work wrapper">

<article>
    <header>
        <h1>{{ page.title }}</h1>
        <h2>{{ page.subtitle }}</h2>
        <p class="meta">{{ page.date | date_to_long_string }}</p>
    </header>

    {{ content }}

    <span class="text-center">
        <a href="{{ page.clientsite }}" target="_blank" class="button-dark client-link">Visit {{ page.clientname }}</a>
    </span>

     <div class="pagination">
         {% if page.previous.url %}
         <div class="prev">
             <p class="h4">Previous Case Story:</p>
             <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
         </div>
         {% endif %}

         {% if page.next.url %}
         <div class="next">
             <p class="h4">Next Case Story:</p>
             <a href="{{ page.next.url }}">{{ page.next.title }}</a>
         </div>  
         {% endif %}
     </div>
</article>

</main>

{% include footer.html %}